#Folders to ignore
.idea
.grunt
.vscode
.vs

*~
StyleCop.Cache
Settings.StyleCop
StyleCopViolations.xml
*.suo
*.csproj.user
*.DotSettings.user
*.xproj.user
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
